<div class = "container">

  <p>
      Before starting this lesson, I strongly recommend to read Ionic / cordova environment setup article <br>
      and make sure you have a proper development environment to build & run your ionic project.<br>
       Note: Since, Ionic is cross platform all commands are same on Windows, Linux & Mac environment<br>
      This lesson, we’re going to learn, how to create your first Ionic Project, add & remove new platforms and plugins;<br>
       and learn how to run your ionic project on browser & devices
  </p>

  <img src="../assets/Capture7.PNG" alt="" style="width:450px;height:400px;"> 
</div>