<html>
<body class ='im'>
   

    <div class = "container">
    <h1>Ionic Tutorial</h1>
    
    
    <p>
      Ionic is open source framework used for developing mobile applications.<br>
      It provides tools and services for building Mobile UI with native look and feel.<br>
      Ionic framework needs native wrapper to be able to run on mobile devices.<br>
      This is an introductory tutorial, which covers the basics of the Ionic Open Source Framework<br>
      and explains how to deal with its various components and sub-components.
    
    </p>
    

    
    <h1>Audience</h1>
    <p>
      This tutorial is created for JavaScript developers that are new to mobile development.<br>
       It provides simple, easy to understand explanations with useful working examples.<br>
      We will go through most of the Ionic Framework so you can also use this as a reference for your projects.<br>
      This tutorial is intended to make you comfortable in getting started with the<br>
       Ionic Open Source Framework and its various functions.
    </p>
    
    <h1>Prerequisites</h1>
    
    <p>
      Since Ionic is built on top of AngularJS and Apache Cordova,<br>
      you will need to have basic knowledge about these technologies.<br>
      You also need to be familiar with HTML, CSS and JavaScript,<br>
      if you want to understand all the information provided.
    </p>
    
    
    </div>
    
    
    
    
    
    </body>
     
     </html>