<div class ="container">
<p>
  
      Ionic relies on the power of many command-line-interface tools (CLI) to start, build, test, and deploy Ionic apps.<br>
      Unlike traditional desktop applications, CLI tools are small programs that perform various tasks in a way that<br>
      makes them easy to use together, all without the complexities of having to build visual desktop apps for each program.<br>
      To use CLI tools, we need to use a Terminal. A Terminal lets us run CLI tools by typing commands,<br>
      and is a popular way developers build web and mobile apps today. A terminal looks like this (yours might look different):<br>
      Windows, Linux, and Mac all have different ways to use the terminal. Let’s start with Mac<br>
      For Mac, we have a nice terminal installed by default called terminal. If we search in spotlight for terminal it will pop up:
</p>

<img src="../assets/Capture.PNG" alt="" style="width:650px;height:550px;"> 

<p>
       We can continue using this default terminal, though many Mac users choose to use a 3rd party terminal tool with more features,<br>
       iTerm 2 being the most popular.Windows<br>
       Windows has a few different terminal tools available by default, including two you may be familiar with: cmd.exe and PowerShell.<br>
      We don’t recommend either for Ionic development or for modern web and mobile development because<br>
      they don’t have many common utilities available that developers use.
      Instead, we strongly recommend installing Git for Windows which comes with Git Bash,<br>
      a prompt that is more compatible with the terminal experience on Mac and Linux. After installing Git Bash and running it, you’ll see a prompt like this:<br>
     
    <img src="../assets/Cap.PNG" alt="" style="width:650px;height:550px;"> 

</p>

<!-- <p>
 <h2>Linux</h2>
    You’re running Linux, you should know how to launch your Terminal ?
<h2>Tip #1: The Prompt</h2>
    On our example terminals above, we see the text bash-3.2$ and something similar on the Windows side,<br>
    both having a $ and our cursor positioned to the right of it.
    This is the command prompt, and it’s “prompting” us to enter a command.<br>
    The dollar sign is a very common prompt character, and you’ll occasionally see it written in<br>
    commands to give you context and to indicate this command should be run in a terminal. <br>
    You should not write the dollar sign character when typing your commands, it will make your command not work.
<h2>Tip #2: Basic commands</h2>
    There are a few core commands that you will want to learn that are often implied by tutorials. <br>
    The first, and arguably most important, is cd. cd lets you “change directory” and is equivalent <br>
    to navigating into folders in Finder or Explorer.
    The second is ls and “lists” the contents of the directory you are in. This becomes a common<br>
    sequence Terminal users perform: cd theDirectory and then immediately ls to list the contents and give you context for where you are.
</p> -->

<!--<p>
 <img src="../assets/Capture3.png" alt="" style="width:200px;height:200px;"> 
      lt takes some additional flags to customize the output, and a common one is ls -l to show a nice tabular list<br>
      of the contents of your directory. So, when we say cd into a directory, that means you’ll type cd theDirectory.
  <h2>Tip #3: More commands</h2>
      There are many commands available, and we recommend learning to use at least these other commands: <br>
      mkdir to create directories, cp to copy files, mv to move and rename files, rm to remove files, <br>
      and less to open files in a scrolling window for previewing. Try each one to learn how to use it.

<img src="../assets/Capture4.png" alt="" style="width:200px;height:200px;">  -->


  <!-- <h2>Tip #4: NPM</h2>
      NPM is a popular command line tool for installing libraries from the Node.js ecosystem.<br>
      Ionic uses it extensively and you’ll see it printed in our getting started guide.
      After installing Node.js on our machine, the npm command will be available in our terminal.<br>
      To install new packages, run npm install and then the name of the package. As mentioned in the “sudo” section above,<br>
      if we need to install new commands globally (or, for “all users”), then we need to add sudo before the command on<br>
         Mac and Linux (it’s not required on Windows), and then use the -g flag.<br>
   -->
<!-- </p> -->

</div>